<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Text Hasher</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="main-content">

<h1>Text Hasher</h1>

<form th:action="@{/hashText}" method="post">
    <label for="inputText">Enter Text to Hash:</label>
    <input type="text" id="inputText" name="inputText"/>
    <button type="submit">Hash</button>
</form>

<div th:if="${hashedValues}">
    <h2>MD5 Hash:</h2>
    <p th:text="${hashedValues['hashedMD5']}"></p>
</div>

<div th:if="${hashedValues}">
    <h2>SHA-256 Hash:</h2>
    <p th:text="${hashedValues['hashedSHA256']}"></p>
</div>

</div>

</body>
</html>